body {
    height: 100vh;
    background-image: url("../images/login\ \(2\).jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(112, 197, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div#login {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: -40%;
    width: 40%;
    height: 470px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 4px;
}

h1 {
    text-align: center;
}

    h2{
        text-align: center;
        display: flex;
        flex-direction: column;
        }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    padding: 6px;
}
h2 a{
    text-decoration: none;
    color: red;

}


/* responsive */

@media  (min-width:560px) and (max-width:768px)  {
    h2{
    text-align: center;
    display: flex;
    flex-direction: column;
    }
    div#login{
        width: 280px;
    }
}
@media (min-width:320px) and (max-width:425px){
    div#login {
        backdrop-filter: blur(10px);
        margin-left: 0;
        width: 85%;
}